<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.p2p.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zking.p2p.model.UserInfo" >
    <constructor >
      <idArg column="uid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="uname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pwd" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="usex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="uage" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cardId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bankCard" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="userState" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="creditScore" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    uid, uname, pwd, usex, uage, cardId, phone, bankCard, userState, creditScore
  </sql>

  <insert id="insert" parameterType="com.zking.p2p.model.UserInfo" >
   INSERT INTO tb_userinfo (uname,pwd) VALUES(#{uname,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insert2" parameterType="com.zking.p2p.model.UserInfo">
  insert into tb_userinfo ( uname, pwd,phone)
    values ( #{uname,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.zking.p2p.model.UserInfo">
    UPDATE  tb_userinfo set usex=#{usex},
    uage=#{uage},phone=#{phone} WHERE uid=#{uid}

  </update>


  <select id="selectByPrimaryKey" resultType="com.zking.p2p.model.UserInfo"
          parameterType="com.zking.p2p.model.UserInfo">
       SELECT * from tb_userinfo

  </select>


</mapper>